*.class

# Package Files #
/0.3.0.10
/0.3.0.8
/0.3.0.9
/META-INF
/OSGI-INF

# We are checking in binary files separately so need to check in extra jars #
dist/osgi/plugins/*

# ignore packaged artifact
artifact/*
